@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700|Raleway:800");

/* BASE */

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    background: #1e1f26;
    color: #fff;
}

#wrapper {
    width: 100%;
}


/* INTRO */

.wrapper.fullscreen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style1 {
    background: #5e42a6;
}

.inner {
    width: 60%;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    margin: 0;
}


/* SPOTLIGHTS */

.spotlights > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
}

.spotlights .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spotlights .content {
    display: flex;
    align-items: center;
    padding: 80px;
    background: #2c2d36;
}

.spotlights h2 {
    font-family: "Raleway", sans-serif;
}


/* STYLE 3 */

.style3 {
    background: #1e1f26;
    padding: 80px;
}


/* RESPONSIVE */

@media (max-width: 900px) {
    .spotlights > section {
        grid-template-columns: 1fr;
    }

    .inner {
        width: 90%;
    }
}
